	<div class="container">
		<div class="row my-3">
			<nav class="navbar navbar-expand navbar-light">
					    <ul class="navbar-nav mb-2 mb-lg-0">
					    	<li class="navbar-brand m-2 nav-item">
								<a class="text-info" routerLink="" routerLinkActive="active"><img class="d-inline-block align-top" src="assets/opinioned_logo.png"  width="90" alt="OPINIONED" style="margin-top: -0.5px;"></a>
							</li>
					        <li class="nav-item">
								<a class="nav-link" routerLink="feed" routerLinkActive="active">newsfeed</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" routerLink="votes"  routerLinkActive="active">selected</a>
							</li>
						</ul>
					 
			</nav>
		</div>
	</div>