	<div class="container">
		<div class="row my-3">
			<nav class="navbar navbar-expand navbar-light">
					    <ul class="navbar-nav mb-2 mb-lg-0">
					    	<li class="nav-item">
								<a class="navbar-brand text-info overpass" routerLink="" routerLinkActive="active"><img src="assets/opinioned_logo.png"  width="100" alt="OPINIONED"></a>
							</li>
					        <li class="nav-item">
								<a class="nav-link" routerLink="feed" routerLinkActive="active">newsfeed</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" routerLink="votes"  routerLinkActive="active">selected</a>
							</li>
						</ul>
					 
			</nav>
		</div>
	</div>