<div class="container">
	<div class="row">
		<div class="col-12 col-sm-10 col-md-8 col-lg-8 mx-auto my-5">
			<h1 class="display-1 text-info overpass" title="This is a personal project and I want to use overpass!">OPINIONED</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-8 mt-3 mb-3">
			<h3 class="text-uppercase">About</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-8 mb-5">
			<p>This is a <strong>Single Page Application (SPA)</strong> in <strong>Angular2</strong>, which means <strong>no page reloads.</strong></p>
			<p>I applied</p>	
				<ul>
					<li><p>the functionality of a <mark>webshop</mark></p></li>
					<p>to</p>
					<li><p><em>The New York Times</em>-articles</p></li>
				</ul>
			<p>i.e. <mark>'buying'</mark> an opinion with <button class="btn btn-secondary px-1 py-0" style="font-size: 0.8em;" disabled>Agree</button> .</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-8 mb-3">
			<h3 class="text-uppercase">How it works</h3>
		</div>
	</div>
	
	<div class="row">
		<div class="col-12 col-lg-8 mb-5">
			<p><button class="btn btn-secondary px-1 py-0" style="font-size: 0.8em;" disabled>Agree</button> with an opinion on the 	<a routerLink="/feed" class="text-muted">newsfeed</a> to put it in the <mark>'shopping cart'</mark>.
			</p>
			<p>The article will show up</p>
			<ul>
			 	<li><p>in the fixed <strong>bottom bar</strong> and</p></li>
			 	<li><p>on <a routerLink="/votes" class="text-muted">selected</a>,</p></li>
			 </ul>
			 <p>
			 	where you can <mark>'buy'</mark> one with <button class="btn btn-outline-secondary px-1 py-1" style="font-size: 0.8em;" disabled>Agree most</button>.
			 </p>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-8 mb-3">
			<h3 class="text-uppercase">Other Functionalities</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-8">
			<h5>Filters</h5>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-8">
			<p>Each category on the <a routerLink="/feed" class="text-muted">newsfeed</a> gets</p>
			<ul>
				<li><p>a new <strong>API-request</strong> from the selected <em>The New York Times </em><strong>news-desk</strong></p>
				</li>
				<li><p>with preset on <button class="btn btn-dark px-1 py-0" style="font-size: 0.8em;" disabled>Culture</button></p></li>
				<p>AND</p>
				<li><p><strong>'opinion'</strong> as keyword.</p></li>
			</ul>
	<div class="row">
		<div class="col-12 col-lg-8 mt-1">
			<h5>Search</h5>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-8">
			<p>On <strong>key-up</strong></p>
			<ul>
				<li><p><strong>highlights</strong> the entered text</p></li>
				<li><p>and <strong>filters</strong> the newsfeed down.</p></li>
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="col-12 col-lg-8 mt-1">
			<h5>Recommendations</h5>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-8">
			<p>Select a <strong>single scientific text</strong> out of a <strong>list of texts</strong></p>
			<ul>
				<li><p>via <strong>ActivatedRoute</strong></p></li>
				<li><p>coming from a <strong>JSON.</strong></p></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-8 mt-5">
			<a href="https://developer.nytimes.com/" title="The New York Times" target="_blank"><img src="assets/poweredby_nytimes_150c.png"></a>
		</div>
	</div>
	<hr>
	<footer></footer>	
</div>
